/* Sets all the text color to red! */
/* #KB-view {
  display: flex;
  justify-content: center;
  align-items: flex-start;
} */

/* // Extra Small devices (landscape phones, 576px and up) */
#keyboard-component.xs {
  background-color: #f5f5f5;
}

/* // Small devices (landscape phones, 576px and up) */
#keyboard-component.sm {
  background-color: aqua;
}

/* // Medium devices (tablets, 768px and up) */
#keyboard-component.md {
  background-color: blueviolet;
}

/* // Large devices (desktops, 992px and up) */
#keyboard-component.lg {
  background-color: chartreuse;
}

/* // X-Large devices (large desktops, 1200px and up) */
#keyboard-component.xl {
  background-color: darkcyan;
}

/* // XX-Large devices (larger desktops, 1400px and up) */
#keyboard-component.xxl {
  background-color: darkgoldenrod;
}

#keyboard-component {
  height: 100%;
}

.keyboard-wrapper {
  max-width: 700px;
}

#KB-view {
  padding: 0px !important;
}

.KB-view > .hotkey-setting-container {
  display: flex;
  overflow: visible;
  flex-direction: column;
  padding-bottom: 60px;
}

#keyboard-preview-view {
  overflow-x: hidden;
}

.search-results {
  color: var(--text-muted);
  padding: 0px 20px 20px 0px;
  /* border-bottom: 1px solid var(--background-modifier-border) !important; */
}

/* .KB-view > .setting-item {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 0;
    border-top: 1px solid var(--background-modifier-border);
  } */

.kbanalizer-setting-item {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--background-modifier-border);
  padding: 18px 0px 18px 0px;
}

.kbanalizer-setting-item-control {
  flex: 1 0 auto !important;
  flex-shrink: 0 !important;
}

.KB-view > .setting-command-hotkeys {
  flex-shrink: 0 !important;
  flex: 1 0 auto !important;
}

.kbanalizer-setting-hotkey {
  min-height: 24px !important;
  position: relative;
  font-size: 12px;
  background-color: var(--background-secondary-alt);
  border-radius: 4px;
  padding: 4px 10px;
  min-height: 24px;
  align-self: flex-end;
  position: relative;
}

.kb-analizer-hotkey-list-container {
  padding-right: 0px !important;
}

/* ----------- */
/* -------     */
/* -------Keyboard Layout */
/* -------     */
/* ----------- */

.svelte-keyboard {
  width: 100%;
  height: 100%;
  /* transform: scale(0.5); */
}

/* :global(.svelte-keyboard:nth-last-child(1)) {
  display: none;
} */

.svelte-keyboard button.key-- {
  background: transparent !important;
  background-color: transparent;
  user-select: none;
  background-color: unset !important;
  color: unset !important;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.svelte-keyboard button.key--.active {
  background: transparent;
}

.svelte-keyboard button.key {
  padding: 4px 16px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  color: var(--text-normal);
  margin: 0px 2px;
  background-color: var(--background-secondary-alt);
}
.svelte-keyboard button.key:hover {
  background-color: var(--interactive-accent);
}
.svelte-keyboard button.key:active {
  background-color: red;
}

#keyboard {
  width: 100%;
}

#keyboard-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  transition: width 2s;
}

.svelte-keyboard .page.visible {
  display: flex !important;
  flex-direction: column;
  height: 100%;
}

.svelte-keyboard > .page {
  display: block;
}

.svelte-keyboard .page > .row {
  height: 100%;
}

/* desktop adj */
.desktop #keyboard-layout {
  max-width: 1280px;
  transition: max-width 1s;
}

.svelte-keyboard button.key {
  padding: 4px 12px;
}

#keyboard.desktop {
  height: 360px;
  transition: height 1s;
}
#keyboard.desktop .row {
  margin: 4px 0;
}
#keyboard.desktop button.key {
  padding: 6px 16px 8px 16px;
}

/* laptop adj */
.laptop #keyboard-layout {
  max-width: 800px;
  transition: max-width 1s;
}
#keyboard.laptop {
  height: 280px;
  transition: height 1s;
}
#keyboard.laptop .row {
  margin: 2px 0;
}
#keyboard.desktop button.key {
  /* padding: 6px 16px 8px 16px; */
}

/* mobile adj */
.mobile #keyboard-layout {
  justify-content: flex-start;
  max-width: 100%;
  transition: max-width 1s;
  overflow-x: scroll;
  padding-bottom: 1rem;
}

#keyboard.mobile {
  height: 280px;
  transition: height 1s;
}

#keyboard.mobile .row {
  margin: 2px 0;
}

#keyboard.mobile button.key {
  padding: 6px;
  min-height: 34px;
}

/* key groups */
#keyboard-qwerty {
  flex: 3;
}

#keyboard-other {
  flex: 1;
}

#keyboard-num {
  flex: 1;
}

/* key classes */
button.key--LShift {
  flex: 1;
}
button.key--RShift {
  flex: 2.5;
}
button.key--Caps {
  flex: 2.5;
}
